.cards {
  margin-top: 30px;
}

.cards__list {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, 282px);
  grid-gap: 20px 17px;
  margin: 0;
  padding: 0;
}

.card {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  list-style: none;
}

.cards__image {
  width: 282px;
  height: 282px;
  border-radius: 10px 10px 0 0;
}

.cards__description {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  color: black;
  padding: 25px 20px;
  border-radius: 0 0 10px 10px;
}

.cards__title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
}

.cards__like-button {
  background: transparent url(../images/like-inactive.svg) center no-repeat;
  width: 21px;
  height: 18px;
  border: none;
}

.cards__like-button:hover {
  opacity: 0.5;
}
