.footer__title {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: rgba(84, 84, 84, 1);
  margin-top: 67px;
  margin-bottom: 60px;
}

@media screen and (max-width: 581px) {
  .footer__title {
    font-size: 14px;
    line-height: 17px;
  }
}

@media screen and (max-width: 581px) {
  .footer {
    max-width: 282px;
  }

  .footer__title {
    margin-top: 48px;
    margin-bottom: 36px;
  }
}

@media screen and (min-width: 581px) and (max-width: 879px) {
  .footer {
    max-width: 581px;
  }
}
@media screen and (min-width: 880px) and (max-width: 2000px) {
  .footer {
    max-width: 880px;
  }
}
