.footer__copyright {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: rgba(84, 84, 84, 1);
  margin: 0;
  padding-top: 67px;
  padding-bottom: 60px;
}
