.header {
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
  margin-bottom: 0;
  margin-top: 0;
}

.header__image {
  margin: 45px 0 41px 0;
  width: 173px;
  height: 33px;
}

@media screen and (max-width: 880px) {
  .header {
    margin-bottom: 38.25px;
  }

  .header__image {
    width: 126px;
    margin: 28px 167px 32px 27px;
  }
}

@media (min-width: 881px) and (max-width: 2000px) {
  .header {
    margin-top: 45px;
    padding-bottom: 41px;
  }
}
