.profile {
  display: flex;
  align-items: center;
}

.profile__info {
  display: grid;
  align-items: baseline;
  grid-template-areas:
    "title button"
    "description description";
  grid-template-columns: minmax(auto, 373px) auto;
  gap: 16px 18px;
}

.profile__edit-button {
  background: transparent url(../images/edit-icon.svg) center no-repeat;
  width: 24px;
  height: 24px;
  grid-area: button;
  border: 1px solid #ffffff;
}

.profile__edit-button:hover {
  opacity: 60%;
  cursor: pointer;
  transition: 0.3s;
}

.profile__add-button {
  background: transparent url(../images/add-icon.svg) center no-repeat;
  width: 150px;
  height: 50px;
  border: 2px solid #ffffff;
  border-radius: 2px;
  margin-left: 165px;
}

.profile__add-button:hover {
  opacity: 60%;
  cursor: pointer;
  transition: 0.3s;
}

.profile__title {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-size: 42px;
  line-height: 48px;
  font-weight: 500;
  grid-area: title;
  margin: 0;
  color: #ffffff;
  width: 373px;
  max-height: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.profile__description {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
  grid-area: description;
  margin: 0;
  color: #ffffff;
  width: 282px;
  max-height: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.profile__image {
  height: 120px;
  width: 120px;
  border-radius: 50%;
  object-fit: cover;
  background-position: center;
  margin: 36.25px 24px 46.25px 0;
}

@media screen and (max-width: 879px) {
  .profile {
    flex-direction: column;
  }
  .profile__description {
    text-align: center;
    margin-top: 14px;
    margin-bottom: 36px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: 282px;
  }
  .profile__info {
    display: flex;
    flex-wrap: wrap;
    max-width: 373px;
    justify-content: center;
    gap: 0 16px;
    align-items: baseline;
  }
  .profile__add-button {
    margin-bottom: 36px;
    margin: auto;
    width: 282px;
  }

  .profile__edit-button {
    width: 18px;
    height: 18px;
  }

  .profile__title {
    margin-top: 26.25px;
    font-size: 22px;
    line-height: 27px;
    text-align: center;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: 196px;
  }

  .profile__image {
    margin: 0;
  }
}
